body {
  background: rgb(245, 250, 255);
}

a {
  color: rgb(116, 183, 255);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 30px 0px;
}
